* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #19181E;
    font-family: sans-serif;

    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 100%;
}

#canvas {
    /* border: solid 1px black; */
    margin-top: 10px;  
}

#pause {
    position: absolute;
}

#start {
    position: absolute;
}